.page {
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent::after {
  content: "";
  background-image: url(../images/jeshoots-com-l0j0DHVWcIE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}


.title {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
  padding: 1.6rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 45%;
  width: 100vw;
  color: rgb(50, 97, 205);
  text-align: center;
  font-size: clamp(2.8rem, 3.8vw, 3.8rem);
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  z-index: 10;
}

.title a {
  text-decoration: none;
}

.slideDown {
  position: relative;
  opacity: 0;
  animation-name: slideDown;
  animation-delay: 0.35s;
  animation-duration: 1.25s;
  animation-fill-mode: both;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -5rem;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}