.loginForm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.loginForm a {
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: 2.5rem;
  }

  100% {
    opacity: 1;
    top: 8rem;
  }
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid gray 1px;
}

.loginLogo {
  width: 115%;
  margin-top: -10px;
}