.welcome {
  text-align: center;
  margin-top: 32px;
  padding-bottom: 25px;
  border-bottom: solid rgb(140, 140, 140) 1px;
  color: rgb(29, 85, 205);
}

.greetingSlug {
  text-transform: capitalize;
}

.patientPageWrapper {
  padding-bottom: 2.25rem;
}