.editForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  padding: 0.75rem;
  width: 100%;
  flex-direction: column;
  transition: all 0.5s;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
}

.editForm input[type="submit"],
.editForm button {
  font-size: 0.95rem;
}

.editForm ::placeholder {
  font-size: 0.95rem;
}

.editForm ::placeholder {
  color: rgb(75, 75, 75);
}

.editForm label {
  color: rgb(75, 75, 75);
}

.editForm a {
  text-decoration: none;
}

.editForm:focus-within {
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
}

::selection {
  background-color: #bbbbbb;
  color: black;
}

.doctorName {
  text-transform: capitalize;
}

.editPatientWrapper {
  padding-bottom: 2.25rem;
}