.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
}