.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.logoBox {
  display: flex;
  width: 430px;
  margin-top: 5px;
  overflow: hidden;
}

.logo {
  width: 110%;
  margin-left: -25px;
}

.buttonBox {
  position: relative;
  margin-left: auto;
  margin-right: 35px;
}

.header nav {
  position: relative;
  margin-left: auto;
  margin-right: 50px;
}

.header nav li {
  display: inline;
  list-style-type: none;
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  text-align: center;
  margin: 1.25rem;
}

.subHead {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(255, 251, 37, 0.5);
  padding: 0.65rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.subHead a {
  text-decoration: none;
}