.infoTable {
  border-collapse: collapse;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  position: relative;
}

.infoTable a {
  text-decoration: none;
  transition: all 0.25s;
}

.infoTable a:link {
  color: black;
}

.infoTable a:visited {
  color: black;
}

.infoTable a:hover {
  color: rgb(29, 85, 205);
}

.infoTable a:active {
  color: rgb(29, 85, 205);
}

.title {
  margin-bottom: 0.75rem;
  padding-top: 30px;
}

.infoTable h3 {
  text-align: center;
  padding-top: 0.5rem;
}

.infoTable th {
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 1.1rem;
  padding: 0.75rem;
  font-family: sans-serif;
  text-align: center;

}

.infoTable th:nth-child(even) {
  background-color: rgb(100, 100, 100);
}

.infoTable td {
  padding: 0.4rem;
  text-align: left;
  overflow-wrap: break-word;
}

.infoTable tr:nth-child(even) {
  background-color: rgba(75, 75, 75, 0.3);
}

.actionColumn {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}