.info p {
  margin-bottom: 1rem;
}

.formattedText {
  white-space: pre-line;
  margin-top: 0.25rem;
}

.card {
  position: relative;
  margin: auto;
  width: 40vw;
  margin-top: 50px;
}

.card ul {
  list-style: none;
}

.card a {
  text-decoration: none;
}