.addForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
}

.addForm input[type="submit"],
.addForm button {
  font-size: 0.95rem;
}

.addForm ::placeholder {
  font-size: 0.95rem;
}

.addForm ::placeholder {
  color: rgb(75, 75, 75);
}

.addForm label {
  color: rgb(75, 75, 75);
}

.titleBox {
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: solid rgb(140, 140, 140) 1px;
  line-height: 1.75rem;
}